:root{
    --white: #fafafa;
    --black: #131212;
    --gray: #d6d4d4;
    --purple: #d31aae;
    --purpleDark: #a90788;
    --swiper-theme-color: rgb(0, 255, 55);
    --blue: #1c44e7;
    --swiper-theme-color:var(--gray)!important;
}

body{
    margin: 0;    
}
.container {
    max-width: 1920px;
    padding: 50px 5%;
}
ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
button{
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    padding: 3px 10px 6px 10px;
    font-family: "__Caveat_201167";
    font-size: 16px;
    color: var(--white);
    background-color: var(--purple);
    border: none;
    border-radius: 8px;
}

button:hover{
    background-color: var(--purpleDark);
}
h1,h2,h3,h4{
    margin: 0;
}
