


.sliderWrapper {
    opacity: 0; /* Начальное состояние — скрыто */
    transform: translateY(250px); /* Смещено вниз */
    transition: all 1.2s ease; /* Плавное появление */
  }
  
  .sliderWrapper.animate {
    opacity: 1; /* Показываем */
    transform: translateY(0); /* Возвращаем в начальную позицию */
  }
  
 
.swiper__slide {
    background-size: 10% 10%;
    background-repeat: no-repeat;
}

.swiper__slide_img {
    width: 100%;
    height: 100%;
}

.customNext,
.customPrev {
    color: var(--white);
    opacity: .0;
}

.swiper {
    width: 500px;
    height: 500px;
    border-radius: 50% 10px;
    position: relative;

}

@media (max-width: 980px) {
    .swiper {
        width: 150px;
        height: 200px;
       
    }
  
}